:root {
  --color-neutral: 255, 255, 255;
  --color-neutral-50: 255, 255, 255;
  --color-neutral-100: 250, 250, 250;
  --color-neutral-200: 239, 239, 239;
  --color-neutral-300: 212, 212, 212;
  --color-neutral-400: 163, 163, 163;
  --color-neutral-500: 115, 115, 115;
  --color-neutral-600: 82, 82, 82;
  --color-neutral-700: 64, 64, 64;
  --color-neutral-800: 28, 28, 28;
  --color-neutral-900: 17, 17, 17;

  --color-primary-50: 255, 237, 236;
  --color-primary-100: 255, 201, 198;
  --color-primary-200: 255, 165, 160;
  --color-primary-300: 255, 130, 123;
  --color-primary-400: 255, 94, 85;
  --color-primary-500: 255, 59, 48;
  --color-primary-600: 206, 49, 40;
  --color-primary-700: 158, 40, 33;
  --color-primary-800: 109, 31, 26;
  --color-primary-900: 61, 22, 19;

  --color-secondary-50: 240, 242, 244;
  --color-secondary-100: 212, 217, 223;
  --color-secondary-200: 184, 191, 202;
  --color-secondary-300: 156, 166, 181;
  --color-secondary-400: 128, 141, 160;
  --color-secondary-500: 100, 116, 139;
  --color-secondary-600: 82, 95, 113;
  --color-secondary-700: 65, 74, 88;
  --color-secondary-800: 47, 54, 63;
  --color-secondary-900: 30, 33, 37;
}
